body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: var(--bs-gray-500);
}
/* 
button {
    border-radius: var(--bs-border-radius-lg);
    
} */

input[type="checkbox"] {
    /* appearance: none; */
    background-color: lightblue;
}


input:checked {
    outline: 1px solid green;
  }

.wrapper {
    background-color: var(--bs-pink);
}

/* Joakim Lindh 2024 */
.invalid-input {
    display: none;
}

.error {
    .invalid-input {
        display: block;
        color: firebrick;
    }

    .form-input {
        border: 1px solid firebrick;
    }
}