:root {
    --nav-clr: #D9DCD6;
}
body {
    background-color: var(--bs-gray-400);
    height: 100vh;
}

.container {
    background-color: var(--bs-body-bg);
    height: 100%;
}

.navbar, footer {
    background-color: var(--nav-clr);
}

main {
    height: 100%;
    background-color: var(--bs-light-bg-subtle) ;
}

nav, h1, h2, li, form {
    color: var(--bs-gray-800);
}

#date, .form-input, footer {
    color: var(--bs-gray-600);
}

.form-input {
    padding-left: .3rem;
    border-radius: var(--bs-border-radius) !important
}
.input-group {
    border-radius: 5px;
}

input[type="checkbox"] {
    background-color: var(--bs-primary-bg-subtle);
}

.card-header {
    background-color: var(--bs-primary-bg-subtle);
}

.wrapper {
    min-width: 300px;
}

.input-group {
    min-width: 300px;
}

.modal {
    display: none;
}

/* Kod nedan från Joakim Lindh. 2024-11-20. Hämtad från YouTube, LindhCoding. URL: https://youtu.be/E2ESFCAH_zc */
.invalid-input {
    display: none;
}

.error {
    .invalid-input {
        display: block;
        color: var(--bs-form-invalid-border-color);
        font-size: .9rem;
        padding-left: 1rem;
        margin: 0 !important
    }

    .form-input {
        border: 1px solid var(--bs-form-invalid-border-color);
    }
}